#user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  justify-content: center;
  margin: 20px;
}

body p {
  font-family: sans-serif;
  color: var(--text-color);
}

.user-card {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  width: 45%;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.user-card > .name {
  grid-row: 1;

  font-size: 1rem;
}

.user-card > .score {
  grid-row: 2;

  font-size: 1rem;
}

.user-card > input[type=button] {
  grid-row: 1;
  grid-column: 2;

  width: 100%;
  min-width: 34px;
  outline: none;
  border: 1px var(--secondary-color) solid;
  color: var(--text-color);
  padding: 6px;
}

#room-ui {
  /* Container for room admin panel */
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

#room-ui input[type=button] {
  min-width: 34px;
  outline: none;
  border: 1px var(--secondary-color) solid;
  color: var(--text-color);
  padding: 6px;
  height: 43px;
}

#room-ui input[type=number] {
  padding: 10px; /* Add padding for the currency symbol */
  border: 1px var(--secondary-color) solid ;
  font-size: 1rem;
  transition: border-color 0.3s;
}

#room-ui input[type=number]:focus {
  border-color: #0056b3;
  outline: none;
}
